/* Edits made on June 26th to mitigate false positives in Adblock */
/* ad-vip.css */

div#vip-box {
	width: 439px;
	height: 60px;
	background: url('../images/ad-vip/vip_box.png') no-repeat;
	padding-top: 200px;
	margin-bottom:10px;
}
div#vip-box a { border: none; }
div#image-button1 { width: 77px; height: 35px; background: url('../images/ad-vip/btn-signup.png') no-repeat; margin-top: -45px; margin-left: 325px; }
div#image-button2 { width: 77px; height: 35px; background: url('../images/ad-vip/btn-login.png') no-repeat; margin-top: 2px; margin-left: 325px; }
div#image-button1:hover { background-position: 0 -34px; }
div#image-button2:hover { background-position: 0 -34px; }

/* ad-calc.css */

div#calculator-box { width: 208px; height: 63px; background: url('../images/calc/calculator_208.png') no-repeat; padding-top: 120px; margin-bottom:10px;}
div#calculator-box a { border: none; }
div#estimate-button { width: 100px; height: 32px; background: url('../images/calc/btn-calculate.png') no-repeat; margin-top: 20px; margin-left: 95px; }
div#estimate-button:hover { background-position: 0 -32px; }

/* ad-stayconnected_largeicons.css */

div#stayconnected-box {
	width: 225px;
	height: 225px;
	background: url('../images/connect/connect-with-us-225x225.png') no-repeat;
	margin-bottom:0px;
	margin-top: -10px;
	margin-left: -8px;
}
div#stayconnected-box a { border: none; }
div#ooga {width:225px;height:60px;}
div#image-fb {
	position:absolute;
	width: 140px;
	height: 30px;
	background: url('../images/connect/facebook_button.png') no-repeat;
	margin-top: 60px;
	margin-left: 35px;
}
div#image-twitter {
	position:absolute;
	width: 141px;
	height: 27px;
	background: url('../images/connect/twitter_button.png') no-repeat;
	margin-top: 110px;
	margin-left: 35px;
}
div#image-blog {
	position:absolute;
	width: 75px;
	height: 37px;
	background: url('../images/connect/lifeinthebubble.png') no-repeat;
	margin-top: 155px;
	margin-left: 35px;
}
div#image-fb:hover { background-position: 0 -31px; }
div#image-twitter:hover { background-position: 0 -28px; }
div#image-blog:hover { background-position: 0 -36px; }

/* nav-postit.css */

div#nav-postit {
	width: 208px;
	height: 86px;
	background: url('../images/post_it_nav/post_it_admissions.png') no-repeat;
	padding-top: 120px;
	margin-bottom:10px;
}

div#nav-postit a { border: none; }

div#counselors-button { width: 170px; height: 35px; background: url('../images/post_it_nav/post_it_admissions_counselors_button.png') no-repeat; margin-top: -68px; margin-left: 20px; }
div#counselors-button:hover { background-position: 0 -36px; }

div#parents-button { width: 64px; height: 31px; background: url('../images/post_it_nav/post_it_admissions_parents_button.png') no-repeat; margin-top: 12px; margin-left: 20px; }
div#parents-button:hover { background-position: 0 -30px; }

div#students-button { width: 155px; height: 43px; background: url('../images/post_it_nav/post_it_admissions_students_button.png') no-repeat; margin-top: 4px; margin-left: 20px; }
div#students-button:hover { background-position: 0 -39px; }