/* layout-955-basic.css */
/* Updated September 12, 2011 at 11:19 AM by Cary Hazelwood */
/* All modifications to this file must be approved by Cary Hazelwood */

@import url('layout955-clear.css');
@import url('layout955-global.css');
@import url('layout955-colors.css');
@import url('layout955-header.css');
@import url('layout955-section.css');
@import url('layout955-footer.css');
@import url('layout955-leftnav-DCE6ED.css');
@import url('layout955-buttons.css');
@import url('layout955-callouts.css');
@import url('layout955-lists.css');
@import url('layout955-ads.css');
@import url('layout955-date-items.css');

#middlepgbg {
	/* background-color: #A6CCE1; /* background color of #col1 */
	background-color: #E8E8E8; /* background color of #col1 */
	clear:both;
	background-image: url(../images/layout/bg-middle-normalwshadow.png);
	background-position: center;
	background-repeat: repeat-y;
}

#middle {
	width:955px;
	background-color: #D7D7D7; /* background color of #col1 */
	background-image:url(../images/layout/bg-middle.gif); /* background image of #middle */
	color: #454545;
	margin:0 auto;
	clear:both;
}

#middle1col {
	width:955px;
	background-color: #F9F9F9;
	color: #454545;
	margin:0 auto;
	clear:both;
}

#twocolcol1 {float:left; width:425px; padding-left:20px;}
#twocolcol2 {float:right; width:425px; padding-right:20px;}

#col1 {
	float:left;
	width:180px;
}

#col2 {
	float:left;
	width:775px;
	background-color:#F9F9F9;
}

#col2top {
	padding:20px 20px 0px 20px;
}

#col2col1 {
	float:left;
	width:555px;
}

#col2col1top {
	padding:20px 20px 0px 20px;
}

#col2col2 {
	float:right;
	width:200px;
	margin-right:20px;
	margin-top:20px;
}
#col2col1col1 {
	float:left;
	width:257px;
}
#col2col1col2 {
	float:right;
	width:257px;
}
#col2col1col1 ul, #col2col1col2 ul {
	list-style:square;
	padding: 8px 8px 8px 30px;
	margin: 0px 0px 0px 0px;
}
#col2col1col1 ul li, #col2col1col2 ul li {
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#col2twocolcol1 {
	float:left;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width:50%;
}

#col2twocolcol2 {
	float:left;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width:50%;	
}

#content {
	padding:20px 20px;
	line-height: 20px;
}
#contenthdr {
	padding:20px 20px;
	line-height: 20px;		
}
#nlncol1 {
	float:right;
	width:955px;
	background-color:#F9F9F9;
}

#nlncol1col1 {
	float:left;
	width:735px;
}

#nlncol1col2 {
	float:right;
	width:200px;
	margin-right:20px;
	margin-top:20px;
}
#printcopyright {display:none;}

/* Body Link Styles */

#contenthdr a:link {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B;}
#contenthdr a:active {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B;}
#contenthdr a:visited {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B;}
#contenthdr a:hover {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B; background-color:#E5E5E5;}

#content a:link {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B;}
#content a:active {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B;}
#content a:visited {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B;}
#content a:hover {color:#005A8B; text-decoration:none; border-bottom:dotted 1px #005A8B; background-color:#E5E5E5;}

/* Body Typography Styles */

#contenthdr p {margin:0; padding:0 0 10px 0;}
#contenthdr strong {color:#005A8B;}

#content p {margin:0; padding:0 0 10px 0;}
#content strong {color:#005A8B;}

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	color:#005A8B;
	font-weight: normal;
	margin:0 0 15px 0;
	padding:0;
	line-height:36px;
}

h1+p {
margin-top: 10px;
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color:#005A86;
	font-weight: normal;
	margin:15px 0 5px 0;
	padding:0;
	line-height:24px;
}
h2+ul {
margin-top: 10px;
}

h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#005A86;
	font-weight: normal;
	margin:15px 0 5px 0;
	padding:0;	
}
h3+ul {
margin-top: 10px;
}
h3.top {margin-top:0;padding-top:0;}
h4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#005A86;
	font-weight: normal;
	margin:15px 0 5px 0;
	padding:0;
	font-variant:small-caps;
}
.toph {margin-top:0;padding-top:0;}

.breadcrumbs {
	margin:0;
	padding:0 0 20px 0;
	color: #666666;
}
.breadcrumbs a:link, .breadcrumbs a:visited, .breadcrumbs a:active {
	color: #183376;
	text-decoration: underline;
}
.breadcrumbs a:hover {
	color: #70462E;
	text-decoration: underline;
}

/* Photo / Image Styles */

.imagecaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	line-height: normal;
}
.photo_right {
  float:right;
  border:solid 1px #005A8B;
  margin-top: 5px;
  margin-left:15px;
  margin-bottom:5px;
} 
.photo_left {
  float:left;
  border:solid 1px #005A8B;
  margin-top: 5px;
  margin-right:15px;
  margin-bottom:5px;
} 
.photo_right_nobrdr {
  float:right;
  margin-top: 5px;
  margin-left:15px;
  margin-bottom:5px;
} 
.photo_left_nobrdr {
  float:left;
  margin-top: 5px;
  margin-right:15px;
  margin-bottom:5px;
}
.photo_brdr {
  border:solid 1px #005A8B;
}
.photo_caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	line-height: normal;
}

.stepbox {padding:15px; background-color:#005A8B; color:#FFFFFF; margin-right:20px; font-family:Georgia, "Times New Roman", Times, serif; font-size:24px; width:70px; float:left;}
.stepbox-link {padding:15px; font-family:Georgia, "Times New Roman", Times, serif; font-size:24px;}

#steps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}
#steps ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
#steps li {
	clear:both;
	padding: 8px 0;
}
.contactbox {
	clear:both;
	padding:10px;
	background-color:#EBEBEB;
	border:dashed 1px;
	border-color:#999999;
}
.contactbox p {margin:0; padding:0;}
.contactbox h2 {padding-top:0;margin-top:0;}

.textbox {padding:15px; background-color:#EBEBEB; border:dashed 1px; border-color:#999999; margin-bottom:10px;}
.textbox p {padding:0; margin:0;}