@charset "utf-8";
/* CSS Document */

div#stayconnected-box {
	width: 636px;
	height: 423px;
	background: url('../images/ad-sustainability-connect/tree-v2.png') no-repeat;
	margin-bottom: -70px;
	margin-top: -200px;
	margin-left: 0px;
	background-position: right top;
}
#stayconnected-box .box-content {padding-top:215px; padding-left:25px;}
div#stayconnected-box a { border: none; }
#stayconnected-box .box-content .image-fb {
	position:absolute;
	width: 140px;
	height: 30px;
	background: url('../images/ad-sustainability-connect/facebook_button.png') no-repeat;
	background-image: url(../sustainability/styles/images/ad-connect/facebook_button.png);
}
#stayconnected-box .box-content .image-fb:hover { background-position: 0 -31px; }
div#image-twitter:hover { background-position: 0 -28px; }
div#image-blog:hover { background-position: 0 -36px; }


/* new styles */
.connect-content {
	position:relative;
	z-index:2;
}
.connect-content h2 {color:#005A8B !important;}
.connect-content .image-fb {
	position:absolute;
	margin-top:5px;
	width:143px;
	height:30px;
	background:url('../images/ad-sustainability-connect/facebook_button.png') no-repeat;
	background-image: url(../images/ad-sustainability-connect/facebook_button.png);
}
.connect-content .image-fb:hover {background-position: 0 -31px;}
.connect-content .image-twitter {
	position:absolute;
	margin-top:5px;
	width:143px;
	height:28px;
	background:url('../images/ad-sustainability-connect/twitter_button.png') no-repeat;
	background-image: url(../images/ad-sustainability-connect/twitter_button.png);
}
.connect-content .image-twitter:hover {background-position: 0 -28px;}
.tree {
	position:relative;
	z-index:1;
	width: 636px;
	height: 423px;
	background: url('../images/ad-sustainability-connect/tree-v2.png') no-repeat;
	top: -198px;
	background-position: right top;
}
.newtree {
	position:relative;
	z-index:1;
	background: url('../images/ad-sustainability-connect/tree-v3.png') no-repeat;
	width:401px;
	height:358px;
	margin-top:-358px;
	margin-left:680px;
	margin-bottom:-1px;
}
