/* layout955-callouts.css */
/* Updated May 24, 2011 by Cary Hazelwood */
/* All modifications to this file must be approved by Cary Hazelwood */

/* .callout */

/* LEFT CALLOUTS */
/* ============= */
/* Use the following code for a left callout: */
/*

   <span class="callout-left">ENTER YOUR TEXT HERE</span>

*/

/* RIGHT CALLOUTS */
/* ============== */
/* Use the following code for a right callout: */
/*

   <span class="callout-right">ENTER YOUR TEXT HERE</span>

*/

.callout-left {
  clear:both;
  float:left;
  display:block;
  width:210px;
  padding:20px 0 20px 20px;
  margin-right:20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:22px;
  font-weight: normal;
  line-height:26px;
  border-bottom:1px dotted #005a8b;
  border-top:1px dotted #005a8b; 
  margin-bottom:10px;
  margin-top:10px;  
}

.callout-right {
  clear:both;
  float:right;
  display:block;
  width:210px;
  padding:20px 0 20px 20px;
  margin-left:20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:22px;
  font-weight: normal;
  line-height:26px;
  border-bottom:1px dotted #005a8b;
  border-top:1px dotted #005a8b; 
  margin-bottom:10px;
  margin-top:10px;  
}

.callout {
  clear:both;
  float:right;
  display:block;
  width:210px;
  padding:20px 0 20px 20px;
  margin-left:20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:22px;
  font-weight: normal;
  line-height:26px;
  border-bottom:1px dotted #005a8b;
  border-top:1px dotted #005a8b; 
  margin-bottom:10px;
  margin-top:10px;  
}


/* old styles to be phased out below */

/* callout_rc */
/* Use the following code: */
/*
			<div id="callout_rc"><strong>Info</strong>
              <p class="title">Title 1</p>
              <ul>
                <li class="listpdf">File</li>
              </ul>
              <p class="title">Title 2</p>
              <ul>
                <li class="listpdf">File</li>
              </ul>
            </div>
*/
#callout_rc {
	width: 250px;
	margin:0px 0px 10px 10px;
	padding:0px;
	float: right;
	display: inline;
}
#callout_rc h1 {
	background: #FFDA80;
	color:#6B4C00;	
	display: block;
	padding: 0px 10px;
	line-height: 1.8em;
	font-size:14px;
	margin:0;
}
#callout_rc #content {
	margin:0;
	padding:10px;
	background: #FFEDBF;
}
#callout_rc #content p {
	padding:0px;
	margin:0;
}
#callout_rc #content strong {
	color:#6B4C00;
	font-weight:bold;
}
#callout_rc #content ul {
	list-style:square;
	padding: 8px 8px 8px 30px;
	margin: 0px 0px 0px 0px;
}
#callout_rc #content ul li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#callout_rc #content a:link, #callout_rc #content a:visited, #callout_rc #content a:active {
	text-decoration:none;
	color:#00386B;
}
#callout_rc #content a:hover {
	color:#000000;
	text-decoration:underline;
}
#callout_rc #content table tr td {
	padding:4px 4px 4px 0px;
	vertical-align:top;
}
#callout_rc #content table tr td p {
	padding:0px;
	margin:0;
}
#callout_rc #content table {
	width:100%;
}
#callout_rc #content .btn1 .lnk span {
	color: #036;
	background-color: #eef5ff;
}
#callout_rc #content .btn1 a.lnk:hover {
	background-color: #036;	
	text-decoration: none;
}


#downloads_rc {
	width: 169px;
	margin: 0;
	background: #D8E2F1;
	float: right;
	display: inline;
}		
#downloads_rc strong {
	background: #B9CCE6;
	display: block;
	padding: 0 7px;
	line-height: 1.8em;
}
#downloads_rc p {
	padding: 7px 7px 0 7px;
	margin:0;
}
#downloads_rc p.title {
	color:#00386B;
	font-weight:bold;
}
#downloads_rc ul {
	list-style:square;
	padding: 8px 8px 8px 30px;
	margin: 0px 0px 0px 0px;
}
#downloads_rc ul li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#downloads_rc a:link, #downloads_rc a:visited, #downloads_rc a:active {
	text-decoration:none;
	color:#00386B;
}
#downloads_rc a:hover {
	color:#000000;
	text-decoration:underline;
}

#downloads_top {
	width: 260px;
	margin: 0 10px;
	background: #D8E2F1;
	float: right;
	display: inline;
}		
#downloads_top strong {
	background: #B9CCE6;
	display: block;
	padding: 0 7px;
	line-height: 1.8em;
}
#downloads_top p {
	padding: 7px 7px 0 7px;
	margin:0;
}
#downloads_top p.title {
	color:#00386B;
	font-weight:bold;
}
#downloads_top ul {
	list-style:square;
	padding: 8px 8px 8px 30px;
	margin: 0px 0px 0px 0px;
}
#downloads_top ul li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#downloads_top a:link, #downloads_top a:visited, #downloads_top a:active {
	text-decoration:none;
	color:#00386B;
}
#downloads_top a:hover {
	color:#000000;
	text-decoration:underline;
}

#adboxDFDFD0 {
	padding:10px;
	background-color:#DFDFD0;
	margin-bottom:10px;
	border: 1px solid;
	border-color: #9B9B68;
}
#rtcoladheader {
	width:149px;
	padding:7px 10px 7px 10px;
	color:#E0DFDA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height:12px;
	background-color:#35332D;
	margin:0;
	font-weight: bold;
	font-variant: small-caps;
}
#rtcolad {
	width:149px;
	padding:10px;
	color:#C9C7BE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	line-height:12px;
	background-color:#524F45;
	margin:0 0 2px 0;
}
#rtcolad p {margin:0px;padding:0px 0px 9px 0px;}
#rtcolad p.title {
	padding:0px 0px 3px 0px;
	font-size: 1.1em;
	color:#C9C7BE;
	font-weight:bold;
}
#rtcolad a:link, #rtcolad a:active, #rtcolad a:visited {
	color:#C9C7BE;
	text-decoration:underline;
}
#rtcolad a:hover {
	color:#000000;
	text-decoration:underline;
}
#rtcolad ul {margin:0;padding:0 0 10px 0;}
#rtcolad ul li {margin:0 0 0 20px;padding:0 0 0 0px;}
#downloads_top {
	width: 260px;
	margin: 0 10px;
	background: #D8E2F1;
	float: right;
	display: inline;
}		
#downloads_top strong {
	background: #B9CCE6;
	display: block;
	padding: 0 7px;
	line-height: 1.8em;
}
#downloads_top p {
	padding: 7px 7px 0 7px;
	margin:0;
}
#downloads_top p.title {
	color:#00386B;
	font-weight:bold;
}
#downloads_top ul {
	list-style:square;
	padding: 8px 8px 8px 30px;
	margin: 0px 0px 0px 0px;
}
#downloads_top ul li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#downloads_top a:link, #downloads_top a:visited, #downloads_top a:active {
	text-decoration:none;
	color:#00386B;
}
#downloads_top a:hover {
	color:#000000;
	text-decoration:underline;
}