#hpcontent {
    line-height: 20px;
    padding: 0 20px 0 20px;
    /* padding: 20px; */
}
#hpcontent p {
    margin: 0;
    /* padding: 0 0 10px; */
}
#hpcontent strong {
    color: #005A8B;
}
#hpcontent h1 {
    color: #D56F28;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 0 15px;
    padding: 0;
}
#hpcontent h1 + p {
    margin-top: 10px;
}
#hpcontent h2 {
    color: #D8671D;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 5px;
    padding: 0;
}
#hpcontent h2 + ul {
    margin-top: 10px;
}
#hpcontent h3 {
    color: #005A86;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    font-weight: normal;
    margin: 15px 0 5px;
    padding: 0;
}
#hpcontent h3 + ul {
    padding-top: 10px;
}
#hpcontent h4 {
    color: #005A86;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: normal;
    margin: 15px 0 5px;
    padding: 0;
}
#hpcontent #col1 {
    float: left;
    width: 210px;
}
#hpcontent #col2 {
    float: left;
    margin-left: 25px;
    width: 210px;
}
#hpcontent #col3 {
    float: left;
    margin-left: 25px;
    width: 210px;
}
#hpcontent #col4 {
    float: left;
    margin-left: 25px;
}
#hpcontent ul {
    margin: 0 0 0 20px;
    padding: 0;
}
#hpcontent a:link {
    color: #005A86;
    text-decoration: none;
}
#hpcontent a:active {
    color: #005A86;
    text-decoration: none;
}
#hpcontent a:visited {
    color: #005A86;
    text-decoration: none;
}
#hpcontent a:hover {
    border-bottom: 1px dotted #C9631C;
    color: #C9631C;
    text-decoration: none;
}
#hpcontent h2 a:link {
    color: #D8671D;
    text-decoration: none;
}
#hpcontent h2 a:active {
    color: #D8671D;
    text-decoration: none;
}
#hpcontent h2 a:visited {
    color: #D8671D;
    text-decoration: none;
}
#hpcontent h2 a:hover {
    border-bottom: 1px dotted #D8671D;
    color: #D8671D;
    text-decoration: none;
}
#banner {
    height: 235px;
    width: 955px;
}
#banner img {
    border: medium none;
}
#topnav {
    float: right;
    font-size: 36px;
    font-weight: bold;
    margin: -31px 20px 0 0;
    text-transform: uppercase;
}
#topnav ul {
    border: medium none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#topnav ul li {
    display: inline;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 60px;
}
#topnav a:link, #topnav a:active, #topnav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
#topnav a:hover {
    color: #793A11;
    text-decoration: none;
}
#hpcontent .fourcolumn {
    clear: both;
    margin: 10px 5px 30px;
}
#hpcontent .fourcolumn .col1 {
    float: left;
    width: 208px;
}
#hpcontent .fourcolumn .col2 {
    float: left;
    margin-left: 25px;
    width: 207px;
}
#hpcontent .fourcolumn .col3 {
    float: left;
    margin-left: 25px;
    width: 207px;
}
#hpcontent .fourcolumn .col4 {
    float: left;
    margin-left: 25px;
    width: 208px;
}
#hpcontent .fourcolumn li {
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
}
#hpcontent .threecolumn {
    clear: both;
    margin: 10px 5px 30px;
}
#hpcontent .threecolumn .col1 {
    float: left;
    width: 285px;
}
#hpcontent .threecolumn .col2 {
    float: left;
    margin-left: 25px;
    width: 285px;
}
#hpcontent .threecolumn .col3 {
    float: left;
    margin-left: 25px;
    width: 285px;
}
#hpcontent .threecolumn li {
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
}
#hpcontent .twocolumn-hls {
    clear: both;
    margin: 10px 5px 30px;
}
#hpcontent .twocolumn-hls .col1 {
    float: left;
    width: 595px;
}
#hpcontent .twocolumn-hls .col2 {
    float: left;
    margin-left: 25px;
    width: 285px;
}
#hpcontent .twocolumn {
    clear: both;
    margin: 10px 5px 30px;
}
#hpcontent .twocolumn .headingspan {
    margin: 0 0 10px;
}
#hpcontent .twocolumn .col1 {
    float: left;
    width: 440px;
}
#hpcontent .twocolumn .col1 .col1 {
    float: left;
    width: 208px;
}
#hpcontent .twocolumn .col1 .col2 {
    float: left;
    margin-left: 25px;
    width: 207px;
}
#hpcontent .twocolumn .col2 {
    float: left;
    margin-left: 25px;
    width: 440px;
}
#hpcontent .twocolumn .col2 .col1 {
    float: left;
    width: 207px;
}
#hpcontent .twocolumn .col2 .col2 {
    float: left;
    margin-left: 25px;
    width: 208px;
}
#hpcontent .twocolumn .col1 .col1 li {
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
}
#hpcontent .twocolumn .col1 .col2 li {
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
}
#hpcontent .twocolumn .col2 .col1 li {
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
}
#hpcontent .twocolumn .col2 .col2 li {
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
}
#admissions-ftr {
    float: left;
    margin-top: 9px;
    width: 160px;
}
#admissions-ftr img {
    display: block;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
}
#admissions-ftr .lnk {
    background-image: url("../images/backgrounds/transparency-35.png");
    color: #9D541F;
    display: block;
    float: left;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 150px;
}
#admissions-ftr .lnk a:link, #admissions-ftr .lnk a:active, #admissions-ftr .lnk a:visited {
    color: #9D541F !important;
    text-decoration: none;
}
#admissions-ftr .lnk a:hover {
    border: medium none !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}
#admissions-ftr .lnk ul {
    margin: 0 0 0 20px;
    padding: 0;
}
#admissions-ftr .lnk ul li {
    list-style-image: url("../images/typography/list_chevron_white.png");
    margin: 0;
    padding: 0;
}
#admissions-ftr-content {
    display: block;
    float: right;
    height: 110px;
    overflow: visible !important;
    width: 240px;
}
#admissions-ftr-content p {
    font-size: 13px !important;
    line-height: 17px;
}
#admissions-ftr-content-btn {
    clear: right;
    float: right;
    padding-top: 7px;
    text-decoration: none;
    z-index: 6;
}
#admissions-ftr-content-btn img {
    border: medium none;
    padding: 0 !important;
}
#admissions-ftr-content h2 {
    color: #9D541F !important;
    margin-bottom: 13px;
    margin-top: 10px;
    overflow: visible !important;
}
#donors-ftr {
    float: right;
    margin-top: 8px;
    width: 160px;
}
#donors-ftr img {
    display: block;
    float: right;
    margin: 0 !important;
    padding: 0 !important;
    text-align: right;
}
#donors-ftr .lnk {
    background-image: url("../images/backgrounds/transparency-35.png");
    color: #587427;
    display: block;
    float: right;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 150px;
}
#donors-ftr .lnk a:link, #donors-ftr .lnk a:active, #donors-ftr .lnk a:visited {
    color: #587427 !important;
    text-decoration: none !important;
}
#donors-ftr .lnk a:hover {
    border: medium none !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}
#donors-ftr .lnk ul {
    margin: 0 0 0 20px;
    padding: 0;
}
#donors-ftr .lnk ul li {
    list-style-image: url("../images/typography/list_chevron_white.png");
    margin: 0;
    padding: 0;
}
#donors-ftr-content {
    display: block;
    float: left;
    height: 110px;
    overflow: visible !important;
    width: 250px;
}
#donors-ftr-content p {
    font-size: 13px !important;
    line-height: 17px;
}
#donors-ftr-content-btn {
    clear: left;
    float: left;
    padding-top: 7px;
    text-decoration: none;
    z-index: 6;
}
#donors-ftr-content-btn img {
    border: medium none;
    padding: 0 !important;
}
#donors-ftr-content h2 {
    color: #587427 !important;
    margin-bottom: 13px;
    margin-top: 10px;
    overflow: visible !important;
}
#sectiontitle .logo {
    vertical-align: middle;
}
#sectiontitle .right {
    margin-left: 20px;
}
#sectiontitle .left {
    margin-right: 20px;
}
#newsfeatures {
    border: 1px dotted #999999;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px !important;
    padding: 20px;
    width: 860px;
}
#newsfeatures h2 {
    background-color: #F9F9F9;
    color: #D8671D;
    margin-bottom: 10px;
    margin-top: -33px;
    padding: 0 5px;
    width: 160px;
}
#newsfeatures h3 {
    margin: 0 0 5px;
}
#newsfeatures a:link {
    color: #005A86;
    text-decoration: none;
}
#newsfeatures a:active {
    color: #005A86;
    text-decoration: none;
}
#newsfeatures a:visited {
    color: #005A86;
    text-decoration: none;
}
#newsfeatures a:hover {
    border-bottom: 1px dotted #C9631C;
    color: #C9631C;
    text-decoration: none;
}
#newsfeatures img {
    border: 1px solid #000000;
}
#newsfeatures .picture {
    float: left;
    margin: 0 50px 0 0;
    width: 100px;
}
#newsfeatures .content {
    float: right;
    margin: 0;
    width: 400px;
}
#newsfeatures .content p {
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#newsfeatures .content ul {
    margin: 15px 0 0 20px;
    padding: 0;
}
#newsfeatures .content ul li {
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
    margin: 0;
    padding: 0 0 10px;
}
#newsfeatures .lcol {
    float: left;
    margin: 0 25px 0 0;
    width: 415px;
}
#newsfeatures .lcol h3 {
    font-family: Georgia,"Times New Roman",Times,serif;
}
#newsfeatures .rcol {
    float: right;
    margin: 0;
    width: 415px;
}
#newsfeatures .rcol p {
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#newsfeatures .rcol ul {
    margin: 0 0 0 20px;
    padding: 0;
}
#newsfeatures .rcol ul li {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    list-style-image: url("../images/typography/list_chevron_leafgreen.png");
    margin: 0;
    padding: 0 0 10px;
}
#newsfeatures .morenewsftrs {
    color: #959595;
    float: right;
    margin: 0;
    padding: 5px 0 0;
    text-align: right;
    width: 350px;
}
#newsfeatures .morenewsftrs ul {
    border: medium none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#newsfeatures .morenewsftrs ul li {
    border-right: 1px dotted #999999;
    display: inline;
    padding: 0 10px;
}
#newsfeatures .morenewsftrs ul .title {
    border-right: medium none !important;
}
#newsfeatures .morenewsftrs ul .lastitem {
    border-right: medium none !important;
    padding-right: 0 !important;
}
#ftrswrapper {
    border: 1px dotted #999999;
    margin: 20px auto;
    padding: 20px;
    width: 875px;
}
#ftrswrapper a {
    color: #1F6C96;
    text-decoration: none;
}
#ftrswrapper #features {
    margin: 0;
}
#ftrswrapper #features img {
    border: 1px solid #000000;
}
#ftrswrapper #features .lcol {
    float: left;
    margin: 0 25px 25px 0;
    width: 425px;
}
#ftrswrapper #features .lcol h3 {
    font-family: Georgia,"Times New Roman",Times,serif;
}
#ftrswrapper #features .rcol {
    float: right;
    margin: 0 0 25px;
    width: 425px;
}
#ftrswrapper #features .picture {
    float: left;
    margin: 0 20px 0 0;
    width: 100px;
}
#ftrswrapper #features .content {
    float: right;
    margin: 0;
    width: 305px;
}
#ftrswrapper #features .content p {
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#ftrswrapper #nav {
    float: left;
    margin: 0;
    width: 101px;
}
#ftrswrapper #nav a {
    display: inline-block;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#ftrswrapper #nav #pages {
    color: #1F6C96;
    float: right;
    width: 63px;
}
#ftrswrapper #nav #pages a {
    background: none repeat scroll 0 0 #E5EEF2;
    border: 1px solid #B9CED9;
    color: #718D9D;
}
#ftrswrapper #nav #pages a.activeSlide {
    background: none repeat scroll 0 0 #B7D7E8;
    border: 1px solid #B9CED9;
    color: #005A8B;
}
#ftrswrapper .activeSlide {
}
#ftrswrapper #nav #pages a:hover {
    background: none repeat scroll 0 0 #1F6C96;
    color: #FFFFFF;
}
#ftrswrapper #nav a:focus {
    color: #093851;
    outline: medium none;
}
#ftrswrapper #moreFeatures {
    float: right;
    text-align: right;
    width: 150px;
}
#ftrswrapper h2 {
    background-color: #F9F9F9;
    color: #D8671D;
    margin-bottom: 10px;
    margin-top: -33px;
    padding: 0 5px;
    width: 180px;
}
#ftrswrapper h3 {
    margin: 0 0 5px;
}
#ftrswrapper .fslink {
    color: #7EA634;
}
